<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-9LuR8+qKmiDbqy+5qWC5PcYqlLdYoflVcACx2lpRY4YhCmvCz1A/tPxTqnK2hQ5I+5b1ls4E6uJ7xI4c4gKUSA==" crossorigin="anonymous" />
<script src="https://kit.fontawesome.com/b97d7edfbe.js" crossorigin="anonymous"></script>
<link href="~/css/site.css" rel="stylesheet" />
<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo" style="transform: scale(1.3);">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile4.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span style="color: #520101; font-weight: bold;">
						 Yönetim Paneli
						<span style="color: #000000; font-weight: bold;" class="user-level">Admin</span>
						
					</span>
				</a>
				<div class="clearfix"></div>
			</div>
		</div>
		<ul class="nav" >
			<li class="nav-item my-bounce">
				<a href="/Default/Index/">
					<i class="fa-solid fa-house" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">Siteye Git</p>
				</a>
			</li>
			<li class="nav-item my-bounce">
				<a href="/Menu/Index/">
					<i class="fa-solid fa-burger" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">Menüyü Gör</p>
				</a>
			</li>
			<li class="nav-item my-bounce">
				<a href="/Category/Index/">
					<i class="fa-solid fa-layer-group" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">Kategoriler</p>
				</a>
			</li>
			<li class="nav-item my-bounce">
				<a href="/Product/Index/">
					<i class="fa-solid fa-egg" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">ÜrünLer</p>
				</a>
			</li>
			<li class="nav-item my-bounce">
				<a href="/Booking/Index/">
					<i class="fa-solid fa-bell" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">Rezervasyonlar</p>
				</a>
			</li>
			<li class="nav-item my-bounce">
				<a href="/About/Index/">
					<i class="fa-solid fa-address-card" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">Hakkımızda</p>
				</a>
			</li>
			<li class="nav-item my-bounce">
				<a href="/Discount/Index/">
					<i class="fa-solid fa-tags" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">İndirimler</p>
				</a>
			</li>
			<li class="nav-item my-bounce">
				<a href="/Contact/Index/">
					<i class="fa-solid fa-phone" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">İletişim</p>
				</a>
			</li>
			<li class="nav-item my-bounce">
				<a href="/Slider/Index/">
					<i class="fa-regular fa-circle-up" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">Öne Çıkanlar</p>
				</a>
			</li>
			<li class="nav-item my-bounce">
				<a href="/Testimonial/Index/">
					<i class="fa-solid fa-mug-hot" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">Referanslar</p>
				</a>
			</li>
			<li class="nav-item my-bounce">
				<a href="/SocialMedia/Index/">
					<i class="fa-brands fa-instagram" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">Sosyal Medya</p>
				</a>
			</li>
			<li class="nav-item my-bounce">
				<a href="/Statistic/Index/">
					<i class="fa-solid fa-chart-line" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">İstatistikler</p>
				</a>
			</li>
			<li class="nav-item my-bounce">
				<a href="/MenuTables/Index/">
					<i class="fa-solid fa-desktop" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">Masalar</p>
				</a>
			</li>
			<li class="nav-item my-bounce">
				<a href="/MenuTables/TableListByStatus/">
					<i class="fa-solid fa-location-pin" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">Masa Durumları</p>
				</a>
			</li>
			<li class="nav-item my-bounce">
				<a href="/Message/Index/">
					<i class="fa-solid fa-comments" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">Mesaj Sayfası</p>
				</a>
			</li>
			<li class="nav-item my-bounce">
				<a href="/Notifications/Index/">
					<i class="fa-solid fa-check" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">Bildirimler</p>
				</a>
			</li>
			<li class="nav-item my-bounce">
				<a href="/ProgressBars/Index/">
					<i class="fa-solid fa-bars-progress" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">Anlık Durum Çubuğu</p>
				</a>
			</li>
			<li class="nav-item my-bounce">
				<a href="/Setting/Index/">
					<i class="fa-solid fa-gears" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">Ayarlar</p>
				</a>
			</li>
			<li class="nav-item my-bounce">
				<a href="/Mail/Index/">
					<i class="fa-solid fa-envelopes-bulk" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">Mail</p>
				</a>
			</li>
			<li class="nav-item my-bounce">
				<a href="/QRCode/Index/">
					<i class="fa-solid fa-qrcode" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">QR Kod</p>
				</a>
			</li>
			<li class="nav-item my-bounce">
				<a href="/Login/LogOut/">
					<i class="fa-solid fa-right-to-bracket" style="color: #051f4d;"></i>
					<p style="color: #14162e; font-weight: bold;">Çıkış Yap</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Login/LogOut/">
					<i class="la la-fonticons"></i>
					<p style="color: #14162e; font-weight: bold;">Çıkış Yap</p>
					<span class="badge badge-count">0</span>
				</a>
			</li>
		</ul>
	</div>
</div>
